<div class="flats-grid mt-5">
  <div class="flat-card text-center">
    <img src="<%= @flat.picture_url %>" alt="<%= @flat.name %> Image" class="mx-auto">
    <div>
      <h4><%= @flat.name  %></h4>
    </div>
    <div>
      <p class="mt-4">Adress: <%= @flat.address %></p>
    </div>
    <div>
      <p class="mt-4">Description: <%= @flat.description %></p>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
      <p>Price per night: <%= @flat.price_per_night %>€</p>
      </div>
      <div class="col-md-6">
      <p>Capacity: <%= @flat.number_of_guests %></p>
      </div>
    </div>


    <%= link_to "Bact To List", flats_path, class: "btn btn-primary mt-4" %>

  </div>

</div>
